ul.submenu {
    background-color: #343a40;
    border-radius: 5px;
    display: inline-block;
    padding: 4px 10px;
    margin: 0;
    overflow: hidden;
    margin-bottom: 10px;
}
ul.submenu li {
    display: inline-block;
}
ul.submenu li a i.fa {
    padding: 10px;
    display: inline-block;
    border: 1px solid transparent;
    color: #ccc;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin: 10px;
    text-align: center;
    line-height: 30px;
    position: relative;
    z-index: 2;
}
ul.submenu li a i.fa::after {
    content: "";
    height: 0%;
    width: 0%;
    position: absolute;
    top: -500%;
    bottom: -500%;
    left: -500%;
    right: -500%;
    margin: auto;
    border: 0px solid transparent;
    border-radius: 200px;
    opacity: 0;
    z-index: -1;
    transition: all ease 0.5s;
}
ul.submenu li a:hover i.fa::before {
    color: #fff;
}
ul.submenu li a:hover i.fa-facebook::after {
    height: 200%;
    width: 200%;
    background-color: #3b5998;
    border-radius: 0px;
    opacity: 1;
}
ul.submenu li a:hover i.fa-twitter::after {
    height: 200%;
    width: 200%;
    background-color: #1dcaff;
    border-radius: 0px;
    opacity: 1;
}
ul.submenu li a:hover i.fa-instagram::after {
    height: 200%;
    width: 200%;
    background-color: #8a3ab9;
    border-radius: 0px;
    opacity: 1;
}

.img_icon{
    position: absolute;
    right: 10%;
    bottom: 5%;
}

#user_img{
    display: block;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px; border: 3px solid #edb021;
    height: 300px;
    width: 225px;
}
#user_text{
    margin-left: auto;
    padding: 10px;
    margin-right: auto;
    color: black;
    position: center;
    background: #dcdcdc;
    border-radius: 5px;
}

#user_tel{
    text-align: center;
    margin-top: 15px;
}

#user_email{
    text-align: center;
    margin-top: 15px;
}

#btn_main{
    background: #edb021;
    border: #edb021;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    position: center;
    margin-right: 10px;
}

#btn{
    background: #edb021;
    border: #edb021;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    position: center;
}

#btn_two {
    background: #edb021;
    border: #edb021;
    color: black;
}

#btn_users {
    background: #edb021;
    border: #edb021;
    color: black;
    margin-top: auto;
    margin-bottom: auto;
    position: center;
    margin-right: 10px;
}




